<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Inicio</title>
</head>

<body>

    <div>

        <ul class="opciones1">


            <li><a href="login.html" target="blink">Login</a></li>

            <li><a href="registro.html" target="blink">Sign up</a></li>

        </ul>

    </div>


    <br>
    <br>
    <br>
    <br>
    <h1>Gestion contable empresarial</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, soluta inventore tenetur quod,
        exercitationem sequi consequatur temporibus quos aspernatur dolor ab excepturi est eaque, rerum error. Earum
        repellat quibusdam corrupti?</p>
    <br>
    <br>


    <div class="contenido-tablas1">

        <table class="tabla1">

            <caption class="tabla1">Integrantes</caption>
            <thead>tutulo</thead>

            <tr>

                <th>Nombre completo</th>
                <th>Apellido completo</th>
                <th>Edad</th>
                <th>Ocupacion</th>
                <th>Puesto</th>



            </tr>


            <tr>

                <td>valor1</td>
                <td>valor2</td>
                <td>valor3</td>
                <td>valor4</td>
                <td>valor5</td>

            </tr>
            <tr>

                <td>valor1</td>
                <td>valor2</td>
                <td>valor3</td>
                <td>valor4</td>
                <td>valor5</td>

            </tr>


            <tr>

                <td>valor1</td>
                <td>valor2</td>
                <td>valor3</td>
                <td>valor4</td>
                <td>valor5</td>

            </tr>


            <tr>

                <td>valor1</td>
                <td>valor2</td>
                <td>valor3</td>
                <td>valor4</td>
                <td>valor5</td>

            </tr>


            <tr>

                <td>valor1</td>
                <td>valor2</td>
                <td>valor3</td>
                <td>valor4</td>
                <td>valor5</td>

            </tr>






        </table>




    </div>









    <script src="index.js"></script>

</body>

</html>