<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="usuario.css">
    <title>Document</title>
</head>
<body>
    
<div>

<ul class="opciones1">

<li><a href="index.html" target="blink">Cerrar sesión</a></li>
<li><a href="index.html" target="blink">Retroceder al Inicio</a></li>
<li><a href="agregar.html" target="blink">Ir a agregar movimientos</a></li>
<li><a href="movimientos.html" target="blink">Ir a ver movimientos realizados</a></li>

</ul>

</div>


<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, soluta inventore tenetur quod, exercitationem sequi consequatur temporibus quos aspernatur dolor ab excepturi est eaque, rerum error. Earum repellat quibusdam corrupti?</p>
<br>
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, soluta inventore tenetur quod, exercitationem sequi consequatur temporibus quos aspernatur dolor ab excepturi est eaque, rerum error. Earum repellat quibusdam corrupti?</p>
<br>
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, soluta inventore tenetur quod, exercitationem sequi consequatur temporibus quos aspernatur dolor ab excepturi est eaque, rerum error. Earum repellat quibusdam corrupti?</p>
<br>
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, soluta inventore tenetur quod, exercitationem sequi consequatur temporibus quos aspernatur dolor ab excepturi est eaque, rerum error. Earum repellat quibusdam corrupti?</p>
<br>
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, soluta inventore tenetur quod, exercitationem sequi consequatur temporibus quos aspernatur dolor ab excepturi est eaque, rerum error. Earum repellat quibusdam corrupti?</p>
<br>
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, soluta inventore tenetur quod, exercitationem sequi consequatur temporibus quos aspernatur dolor ab excepturi est eaque, rerum error. Earum repellat quibusdam corrupti?</p>
<br>
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, soluta inventore tenetur quod, exercitationem sequi consequatur temporibus quos aspernatur dolor ab excepturi est eaque, rerum error. Earum repellat quibusdam corrupti?</p>
<br>
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, soluta inventore tenetur quod, exercitationem sequi consequatur temporibus quos aspernatur dolor ab excepturi est eaque, rerum error. Earum repellat quibusdam corrupti?</p>
<br>
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, soluta inventore tenetur quod, exercitationem sequi consequatur temporibus quos aspernatur dolor ab excepturi est eaque, rerum error. Earum repellat quibusdam corrupti?</p>
<br>
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, soluta inventore tenetur quod, exercitationem sequi consequatur temporibus quos aspernatur dolor ab excepturi est eaque, rerum error. Earum repellat quibusdam corrupti?</p>
<br>
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, soluta inventore tenetur quod, exercitationem sequi consequatur temporibus quos aspernatur dolor ab excepturi est eaque, rerum error. Earum repellat quibusdam corrupti?</p>
<br>
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, soluta inventore tenetur quod, exercitationem sequi consequatur temporibus quos aspernatur dolor ab excepturi est eaque, rerum error. Earum repellat quibusdam corrupti?</p>
<br>
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, soluta inventore tenetur quod, exercitationem sequi consequatur temporibus quos aspernatur dolor ab excepturi est eaque, rerum error. Earum repellat quibusdam corrupti?</p>
<br>
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, soluta inventore tenetur quod, exercitationem sequi consequatur temporibus quos aspernatur dolor ab excepturi est eaque, rerum error. Earum repellat quibusdam corrupti?</p>
<br>
<br>


    <script src="usuario.js"></script>
</body>
</html>